body {
  background-color: rgb(105, 60, 177);
  height:100vh;
  width:100%;
  margin:0;
}

hr {
  height: 10px;
  background-color: navy;
  border-color: navy;
  border-width: 2px;
}

.main-field {
  height: 100vh;
  padding: 10px;
}

.main-text {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.sidebar {
  background-color: whitesmoke;
  /* width:; */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: flex-start; /* Align items at the top */
  padding: 10px;
  position: fixed; /* Keep sidebar fixed */
}

.github-link {
  color: blue;
  text-align: center;
  margin-top: auto; /* Push the link to the bottom */
  padding: 25px; /* Add spacing around the link */
}

.github-link:hover {
  color: black;
}
button {
max-height:20%;
max-width:50px}
