
html, body {
  background: linear-gradient(to bottom, rgb(105, 60, 177), black);
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

hr {
  height: 4px;
  background-color: navy;
  border-color: navy;
  border-width: 2px;
  max-width: 90%;
}

.message-box {
  display:none;
}

@media (max-width:600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .message-box {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    display:flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .main-box, .sidebar, footer, .show-sidebar {
    display: none !important;
  }
}


.main-box {
  min-height:100%;
  max-width: 50%;
  background-color: white;
  margin: auto;
  padding-top: 100px;
  border-radius: 10px;
}

.main-field {
  width:100%;
  height:100px;
  margin-top: -100px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  min-height:100vh;
}

.main-text {
  font-size: 50px;
  text-align: center;
}


.main-paragraph {
  text-indent: 40px;
  padding: 50px;
  margin-top: 0px;
  line-height:1.7;
  white-space: pre-line;
  text-align:center;
}

.show-sidebar {
  width:50px;
  height:40px;
  border-radius:100px;
  position:absolute;
  left:120px;
  position: relative;
  z-index:1
}

.hide-sidebar {
  width:50px;
  height:40px;
  border-radius:100px;
  position:absolute;
  margin-left:100%;
}

.sidebar {
  background-color: #333333;
  color: white;
  height: 100vh;
  width: 176px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  position: fixed;
  overflow: hidden;
  z-index:2;
}

.top-sites {color:rgb(85, 204, 255);
  margin-bottom: 10px;
  padding:2px;
  display:block;
  text-align:center;
  text-decoration:none;
  background-color: #545454;
  border: 1px solid white;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {color:white;}

.bottom-sites {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.website-link {
  margin: 10px;
}

.website-link img {
  max-width: 50px;
  max-height: 50px;
  border: 2px solid white;
  border-radius: 20px;

}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  max-height: 20%;
  max-width: 50px;
  z-index:1;
}

.sidebar h2 {
  margin-top: 50px;
  margin-bottom:20px;
  text-align: center;
}

footer {padding:10px;text-align:center;color:white;font-size:17px}

/* Game Styles */

#gameContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

#gameArea {
  width: 2000px;
  height: 100%;
  position: absolute;
  transform-origin: 0 0;
}

.platform {
  position: absolute;
  /* Remove any transform properties */
}

#character {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  left: 100px;
  top: 0;
}


.warp {
  position: absolute;
  background-color: rgb(174, 0, 255);
  width: 50px;
  height: 50px;
  z-index: 2;
  border: 2px solid rgb(255, 1, 1);
  border-radius:20px;
  transition: opacity 0.3s;
}

.warp:hover {
  opacity: 0.8;
}