*{
    border: 2px solid black;
    box-sizing:border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#gameContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

#gameArea {
    width: 2000px;
    height: 100%;
    position: absolute;
    transform-origin: 0 0;
}

.platform {
    position: absolute;
    /* Remove any transform properties */
}

#character {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    left: 100px;
    top: 0;
}


.warp {
    position: absolute;
    background-color: rgb(174, 0, 255);
    width: 50px;
    height: 50px;
    z-index: 2;
    border: 2px solid rgb(255, 1, 1);
    border-radius:20px;
    transition: opacity 0.3s;
}

.warp:hover {
    opacity: 0.8;
}